:root {
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neufile Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Light.woff2?v=1758018383') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neufile Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neufile Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neufile Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-SemiBold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neufile Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Bold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neufile Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-ExtBdIta.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-ExtBdIta.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


h2,.h2{
  @apply font-grotesk font-medium text-[52px] max-lg:text-[46px] leading-[120%] tracking-[-2.6px] text-scheme_one max-md:text-[32px] max-md:tracking-[-1.6px]
}

.button{
  @apply flex items-center flex-wrap px-[40px] py-[6px] text-center justify-center;
}
.button svg {
  @apply w-[14px] h-auto block mx-[4px]
}

.desktop-hide {
  @apply md:hidden
}
.mobile-hide{
  @apply max-md:hidden
}

.container{
  @apply px-[40px] max-w-[1440px] mx-auto max-md:px-[16px] w-full
}

.swiper-pagination {
    @apply !static !flex justify-center flex-wrap items-center mt-[40px] gap-[5px] max-md:mt-[30px]
}
.swiper-pagination .swiper-pagination-bullet {
  @apply !m-0 opacity-50 rounded-[4px] !bg-scheme_two-tertiary 
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply w-[15px] opacity-100
}





