:root {}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Light.woff2?v=1758018383') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Regular.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Medium.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-SemiBold.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Bold.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neufile Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-ExtBdIta.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/NeufileGrotesk-ExtBdIta.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


h2,
.h2 {
  @apply font-grotesk font-medium text-[52px] max-lg:text-[46px] leading-[120%] tracking-[-2.6px] text-scheme_one max-md:text-[32px] max-md:tracking-[-1.6px]
}

.button {
  @apply flex items-center flex-wrap px-[40px] py-[6px] text-center justify-center;
}

.button-white {
  @apply !bg-white !text-scheme_one;
  transition: all .3s;
}

.button-white:hover {
  @apply !text-white !bg-scheme_one !border-white
}

.button svg {
  @apply w-[20px] h-auto block mx-[4px]
}

.desktop-hide {
  @apply md:hidden
}

.mobile-hide {
  @apply max-md:hidden
}

.container {
  @apply px-[40px] max-w-[1440px] mx-auto max-md:px-[16px] w-full
}

.swiper-pagination {
  @apply !static !flex justify-center flex-wrap items-center mt-[40px] gap-[5px] max-md:mt-[30px]
}

.swiper-pagination .swiper-pagination-bullet {
  @apply !m-0 opacity-50 rounded-[4px] !bg-scheme_two-tertiary
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply w-[15px] opacity-100
}

.product .product__features .product__feature:last-child .product__feature-title {
  @apply max-w-[124px]
}

/* product page */

.add-on-product .add-on-label .add-on-control {
  position: relative;
  width: 35px;
  height: 20px;
}

.add-on-product .add-on-label .add-on-control input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

.add-on-product .add-on-label .add-on-control .controls {
  position: relative;
}

.add-on-product .add-on-label .add-on-control .controls::after {
  width: 35px;
  height: 20px;
  background-color: #e3e3e3;
  border-radius: 30px;
  display: block;
  content: '';
}

.add-on-product .add-on-label .add-on-control .controls::before {
  width: 19px;
  height: 17px;
  border-radius: 75px;
  background-color: #fff;
  display: block;
  content: "";
  position: absolute;
  top: 1.5px;
  left: 2px;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.add-on-product .add-on-label .add-on-control:has(input:checked) .controls::before {
  left: 14px;
}

.add-on-product .add-on-label .add-on-control:has(input:checked) .controls::after {
  background-color: #6638B6;
}

.product .product__content .product__cta .bottom-text ul li::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 12.2644C9.8138 12.2644 12.5 9.5782 12.5 6.2644C12.5 2.9506 9.8138 0.264404 6.5 0.264404C3.1862 0.264404 0.5 2.9506 0.5 6.2644C0.5 9.5782 3.1862 12.2644 6.5 12.2644ZM8.6216 4.1428C8.73426 4.0303 8.88701 3.96716 9.04622 3.96727C9.20544 3.96738 9.3581 4.03074 9.4706 4.1434C9.58311 4.25607 9.64625 4.40881 9.64613 4.56803C9.64602 4.72725 9.58266 4.8799 9.47 4.9924L6.0782 8.3842L6.0758 8.3866C6.02021 8.44252 5.95411 8.48689 5.88131 8.51716C5.80851 8.54744 5.73045 8.56303 5.6516 8.56303C5.57276 8.56303 5.49469 8.54744 5.42189 8.51716C5.34909 8.48689 5.28299 8.44252 5.2274 8.3866L5.225 8.3842L3.53 6.6892C3.47269 6.63386 3.42698 6.56765 3.39554 6.49445C3.36409 6.42125 3.34754 6.34251 3.34685 6.26285C3.34616 6.18318 3.36134 6.10417 3.39151 6.03043C3.42168 5.95669 3.46623 5.8897 3.52256 5.83337C3.5789 5.77703 3.64589 5.73248 3.71963 5.70231C3.79337 5.67214 3.87237 5.65696 3.95204 5.65765C4.03171 5.65835 4.11044 5.6749 4.18364 5.70634C4.25685 5.73779 4.32305 5.7835 4.3784 5.8408L5.6516 7.1134L8.6216 4.1434V4.1428Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 2px;
}

.product .product__content .product__accordion .product__accordion-item .product__accordion-title:after {
  width: 24px;
  height: 24px;
}

.product .product__content .product__sizes-list .product__size-content {
  border-radius: 8px;
  border: 1px solid #E3E3E3;
}

.product .product__content .product__sizes-list .product__size-content .product__size-info {
  padding: 14px 10px 10px;
}

.product .product__content .product__sizes-list .product__size input[checked="checked"]+.product__size-content {
  background-color: #6638B614;
  outline: 2px solid #6638B6;
  outline-offset: -2px;
}

.product .product__content .product__sizes-list .product__size:has(input[checked="checked"]) .variant-badge-out {
  background-color: #6638B6;
  color: #fff;
}

.product .product__content .product__sizes-list .product__size-content .product__size-title {
  width: 100%;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: 0;
}

.product .product__content .product__sizes-list .product__size-content .product__size-title>.option-item:nth-child(2) {
  color: #8C8C8C;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-left: auto;
}

.product .product__content .product__sizes-list .product__size-content .product__size-title.m-small {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}

.product .product__content .product__sizes-list .product__size-content .main-div {
  display: flex;
  align-items: center;
  column-gap: 7px;
  row-gap: 4px;
  flex-wrap: wrap;
  font-family: GroteskNeue, system-ui;
  justify-content: space-between;
  width: 100%;
}

.product .product__content .product__sizes-list .product__size-content .main-div .size-div {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.34;
  letter-spacing: 0;
}

.product .product__content .product__sizes-list .product__size-content .main-div .weight-div {
  color: #909090;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.product .product__content .product__sizes-list .product__size-content .main-div .count-div {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-transform: lowercase;
  margin-left: auto;
}

.product .product__gallery .product__gallery-thumbs .swiper-slide.m-active {
  opacity: 1;
}

.product .product__inner .storepoint-container.storepoint-layout-default .storepoint-results {
  grid-column: 1 / span 2;
  grid-row: auto;
}

.product .product__inner .storepoint-container.storepoint-layout-default .storepoint-map {
  grid-column: 1 / span 2;
  height: 300px;
  grid-row: unset;
}

@media(max-width: 767px) {
  .product .product__content .product__sizes-list .product__size-content .product__size-title>.option-item:nth-child(2) {
    margin-left: 0;
  }

  .product .product__content .product__sizes-list .product__size-content .main-div {
    justify-content: unset;
    row-gap: 2px;
  }

  .product .product__inner .storepoint-container.storepoint-layout-default .storepoint-results,
  .product .product__inner .storepoint-container.storepoint-layout-default .storepoint-map {
    grid-column: 1;
  }

  .product .product__inner .storepoint-container.storepoint-layout-default {
    grid-template-columns: 1fr;
  }

  .product .product__content .product__sizes-list .product__size-content .main-div .count-div {
    margin-left: 0;
    width: 100%;
  }

  .junip-write-review-cta-container {
    margin-bottom: 30px !important;
  }

  .junip-product-review-summary-container {
    margin-bottom: 30px !important;
  }
}


@media(max-width: 358px) {
  .product .product__content .product__sizes-list .product__size-content .main-div .weight-div {
    font-size: 12px;
    line-height: 20px;
  }

  .product .product__content .product__sizes-list .product__size-content .main-div .count-div {
    font-size: 12px;
    line-height: 20px;
  }

  .product .product__content .product__sizes-list .product__size-content .main-div .size-div {
    font-size: 15px;
    line-height: 1;
  }
}


.variant-text-main {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 11px 12px;
  border: 1px solid #6638B6;
  border-radius: 12px;
  margin-bottom: 24px;
}

.variant-text-main .count-main {
  font-size: 16px;
  line-height: 1;
  color: #6638B6;
  font-family: GroteskNeue, system-ui;
}

.variant-text-main .month-supply {
  font-size: 16px;
  line-height: 1;
  color: #6638B6;
  font-family: GroteskNeue, system-ui;
  display: flex;
  align-items: center;
  gap: 8px;
}

.variant-text-main .month-supply::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #6638B6;
  display: block;
  margin-top: 2px;
}


.variant-text-main:empty {
  display: none !important;
}

.subscription-form .subscription-list.check-active .plan-label {
  @apply border-scheme_two border-2 bg-[#6638B614] rounded-tr-none
}

.subscription-form .subscription-list.check-active .subscription-label {
  @apply border-scheme_two border-2 bg-[#6638B614]
}

.subscription-form .subscription-list.check-active .plan-label input {
  @apply border-scheme_two
}

.subscription-form .subscription-list.check-active .subscription-label input {
  @apply border-scheme_two
}

.subscription-form .subscription-list.check-active .plan-label .bes-value {
  @apply -right-[2px] bottom-[97%]
}

.subscription-form .subscription-list.check-active .plan-label input::before {
  @apply bg-scheme_two
}

.subscription-form .subscription-list.check-active .subscription-label input::before {
  @apply bg-scheme_two
}

.product__gallery-main__inner .swiper-slide {
  @apply !opacity-100
}



/* product page */


.b-product .b-product__figure-badge {
  @apply !border-white !text-white
}

.storepoint-location:hover {
  background: var(--storepoint-location-background-color, #ffffff) !important;
}

.storepoint-location {
  padding: var(--storepoint-location-padding, 30px 22px) !important;
}

.app-heading:before {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%2015.2644V1.2644%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M1%208.2644H15%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .15s ease;
}

.app-heading.active:before {
  transform: rotate(45deg);
}

.storepoint-widget {
  display: none;
}

.storepoint-widget.active {
  display: block;
}

@media(max-width: 767px) {
  .main-image-gallery-with-location {
    margin: 0 -16px;
  }

  .custom-pdp-store-locater {
    padding: 0 16px;
  }

  .product__gallery-thumbs .swiper {
    padding: 0 16px;
  }

  .product__gallery-main .product__gallery-main__inner>.swiper-container {
    padding: 0 16px;
  }

}

.storepoint-widget .storepoint-location-detail-panel.storepoint-location-detail-panel-visible {
  overflow: auto !important;
}

.header-icon-is-hidden,
.custom-pdp-store-locater-desktop:empty,
.custom-pdp-store-locater-mobile:empty {
  display: none;
}

.product-rating-main {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  font-family: GroteskNeue, system-ui;
  font-weight: 400;
}

.product-rating-main .junip-product-summary-review-count {
  display: none;
}

.product-rating-main .junip-product-summary-star {
  padding: 0 2px 0 0;
  width: 13px;
  height: 13px;
  margin: 0;
}

.product-rating-main span:last-child {
  text-decoration: underline;
}

.product-rating-main .junip-product-summary {
  margin-right: 3px;
  position: relative;
  left: 0;
  top: -2px;
}

.product-rating-main .junip-product-summary-star svg {
  width: 100% !important;
  height: 100% !important;
}

.product-rating-main .junip-product-summary-stars-wrapper {
  display: flex;
}

/* cart drawer flow start */
.custom-cart-flow .step:not(.hidden) {
  display: flex;
  flex-direction: column;
}

.selling_plan-item .cart-subscription-list.check-active .plan-label,
.selling_plan-item .cart-subscription-list.check-active input[type="radio"] {
  border-color: #6638B6;
}

.selling_plan-item .cart-subscription-list.check-active .plan-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #6638B6;
  pointer-events: none;
  border-radius: 8px;
}

.selling_plan-item .cart-subscription-list.check-active .plan-label {
  background: #C5B4E34D;
}

.selling_plan-item .cart-subscription-list.check-active:first-child .plan-label:before {
  border-radius: 8px 0px 8px 8px;
}

.selling_plan-item .cart-subscription-list.check-active input[type="radio"]:before {
  background: #6638B6;
}

.cart-drawer__details .selling-plan-list-ul,
.cart-drawer__details .variant-option-list {
  display: none;
}

.cart-drawer__details .custom-selling-plan-selector.active .selling-plan-list-ul,
.cart-drawer__details .custom-variant-selector.active .variant-option-list {
  display: flex;
}

.empty-cart-product-container .add-product-item svg path {
  @apply stroke-current
}

.cart-drawer .sp-variant-list .sp-variant-item.active,
.cart-drawer .variant-option-list li.active {
  background: rgba(102, 56, 182, 0.08);
  border-color: #6638B6;
}

.cart-drawer .sp-variant-list .sp-variant-item,
.cart-drawer .variant-option-list li {
  position: relative;
}

.cart-drawer .sp-variant-list .sp-variant-item:before,
.cart-drawer .variant-option-list li:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #6638B6;
  border-radius: 6px;
  opacity: 0;
  cursor: pointer;
}

.cart-drawer .sp-variant-list .sp-variant-item.active:before,
.cart-drawer .variant-option-list li.active:before {
  opacity: 1;
}

.step-footer .button[disabled] {
  background: #D9D9D9;
  border-color: #D9D9D9;
  color: #8C8C8C;
}

.cart-drawer__header .cart-count:not(.active) {
  display: none;
}

.empty-footer-logo .walmart-btn a:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.variant-header .empty-subheading a {
  color: #6638B6;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* cart drawer flow end */

/* pdp richtext */
.product .product-richtext {
  margin-bottom: 50px;
  color: #000;
}

.product .product-richtext ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.product .product-richtext ul li {
  position: relative;
  padding: 0 0px 0 18px;
  line-height: 1.6;
}

.product .product-richtext ul li:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 0;
  top: 5px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M1 7.26422C1.00021 4.40195 3.02226 1.93841 5.82954 1.3802C8.63686 0.821992 11.4475 2.32457 12.5427 4.96903C13.6379 7.61349 12.7126 10.6633 10.3326 12.2534C7.95265 13.8434 4.78087 13.5309 2.75704 11.5068C1.63192 10.3816 0.999889 8.8555 1 7.26422Z' stroke='%236638B6' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/><path d='M4 7.26421L5.9996 9.26381L9.99965 5.26465' stroke='%236638B6' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.product__cta .button.m-disabled {
  width: 100%;
}

.product__options-selector .product-form__button-option[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 749px) {

  .product .product-richtext {
    margin-bottom: 30px;
  }

  .product .product-richtext ul {
    gap: 8px;
  }

  .product .product-richtext ul li {
    font-size: 13px;
  }
}

.external-purchase-buttons .hidden {
  display: none !important;
}

/* PDP toggle css */
.variant-bundle-toggle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
  align-items: flex-start;
}
.variant-bundle-label .variant-bundle-text {
  display: flex;
  position: relative;
  padding-left: 50px;
  text-transform: capitalize;
  cursor: pointer;
}

.variant-bundle-label .variant-bundle-text:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 40px;
  height: 24px;
  align-items: center;
  background-color: #fff;
  border: 1px solid #515151;
  border-radius: 20px;
}

.variant-bundle-label .variant-bundle-text:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  background: #666;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}

.variant-bundle-label input[type="checkbox"]:checked + .variant-bundle-text:after {
  left: 20px;
  background: #6638b4;
}

.variant-bundle-label input[type="checkbox"]:checked + .variant-bundle-text:before {
  border-color: #6638b4;
}

.variant-bundle-label input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}