{% if section.blocks.size > 0 %}
  <div class="perfect-info py-[100px] max-md:py-[40px] bg-scheme_two-secondary relative overflow-hidden">
    <div class="container">
      <div class="flex-image-with-content">
        <div class="left-content-wrapper md:w-1/2 relative z-[1]">
          {% if section.settings.heading != blank %}
            <div class="header-wrapper mb-[60px] max-md:mb-[30px] lg:pr-[20px]">
              <h2 class="heading font-fkroman font-normal text-[60px] max-lg:text-[40px] max-md:text-[32px] leading-[1.2] tracking-[-0.05em] text-scheme_one [&_strong]:font-grotesk [&_stong]:font-medium max-md:max-w-[350px]">
                {{ section.settings.heading }}
              </h2>
            </div>
          {% endif %}
          {% if section.blocks.size > 0 %}
            <div class="multiple-information flex flex-col gap-[16px]">
              {% for block in section.blocks %}
                {% if block.settings.image != blank
                  or block.settings.heading != blank
                  or block.settings.description != blank
                  or block.settings.text != blank
                %}
                  <div class="information-block p-[30px] relative after:content-[''] after:w-full after:h-full after:absolute after:top-0 after:left-0 after:z-[1] after:bg-[#FFFFFF33] after:blur-[4px] flex max-lg:flex-col lg:items-center gap-[30px] rounded-[24px] overflow-hidden">
                    {% if block.settings.image != blank %}
                      <div class="left-image w-[60px] min-w-[60px] h-auto relative z-[2]">
                        {%- render 'image-element',
                          image: block.settings.image,
                          widths: '40, 50, 60, 70, 80',
                          sizes: '(max-width: 749px) 100vw, 100vw',
                          class: 'max-w-full block max-h-full object-contain'
                        -%}
                      </div>
                    {% endif %}
                    {% if block.settings.heading != blank
                      or block.settings.description != blank
                      or block.settings.text != blank
                    %}
                      <div class="right-content relative z-[2]">
                        {% if block.settings.heading != blank %}
                          <h3 class="heading mb-[6px] font-grotesk font-medium text-[20px] leading-[1.4] tracking-[-0.05em] text-scheme_one">
                            {{ block.settings.heading }}
                          </h3>
                        {% endif %}
                        {% if block.settings.description != blank %}
                          {% assign heart_svg = 'icon-heart.svg' | inline_asset_content %}
                          {% assign main_description = block.settings.description | replace: '$heart', heart_svg %}
                          <p class="description [&_svg]:inline-block [&_svg]:h-[11px] [&_svg]:w-auto font-grotesk font-normal text-[14px] leading-[1.5] text-scheme_one">
                            {{ main_description }}
                          </p>
                        {% endif %}
                        {% if block.settings.text != blank %}
                          <p class="text font-grotesk mt-[12px] font-normal italic text-[12px] leading-[1.4] text-scheme_one opacity-60 max-w-[288px]">
                            {{ block.settings.text }}
                          </p>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% if section.settings.image != blank %}
          <div class="right-image-wrapper absolute right-0 top-[50%] translate-y-[-50%] h-full max-h-full max-w-full max-md:hidden">
            {%- render 'image-element',
              image: section.settings.image,
              widths: '375, 550, 750, 950,1150, 1500, 1780, 2000, 2500',
              sizes: '(max-width: 749px) 100vw, 50vw',
              class: 'w-full h-full h-auto object-contain'
            -%}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Perfect Info",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Perfect Info"
    }
  ]
}
{% endschema %}
